<form role="form" method="post" action="/register">
  <fieldset>
    <div class="form-group">
      <input class="form-control" placeholder="Username" name="username" type="username" required autofocus>
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Password" name="password" type="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</a>
  </fieldset>
</form>
