<form role="form" method="post" action="/user/setup">
  <input placeholder="Nickname" name="displayName" type="username" required autofocus>
  <input placeholder="Room Number" name="room" type="number" required>
  <button type="submit">Submit</button>
</form>
<button href="/logout">Cancel</button>
