<form role="form" action="/login" method="post">
  <input type="hidden" name="username" value="admin"></input>
  <input type="password" name="password" placeholder="key from server log"></input>
  <button type="submit">Login</button>
</form>
